resources:
- manager.yaml
- metrics_service.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- digest: sha256:d6af2e6496cdd7a3a8d49bc029fde9530e11df443f12ce8da6fb7f1ae8a6ec0b
  name: controller
  newName: registry.redhat.io/rhtas/rhtas-rhel9-operator
