resources:
- manager.yaml
- metrics_service.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- digest: sha256:b99cb4247643de262acd083287a3d742c5a11782c4f3026ccd6b88944a442736
  name: controller
  newName: registry.redhat.io/rhtas/rhtas-rhel9-operator
