apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  creationTimestamp: null
  name: ctlogs.rhtas.redhat.com
spec:
  group: rhtas.redhat.com
  names:
    kind: CTlog
    listKind: CTlogList
    plural: ctlogs
    singular: ctlog
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: The component status
      jsonPath: .status.conditions[?(@.type=="Ready")].reason
      name: Status
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: CTlog is the Schema for the ctlogs API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: CTlogSpec defines the desired state of CTlog component
            properties:
              monitoring:
                description: Enable Service monitors for ctlog
                properties:
                  enabled:
                    default: true
                    description: If true, the Operator will create monitoring resources
                    type: boolean
                    x-kubernetes-validations:
                    - message: Feature cannot be disabled
                      rule: (self || !oldSelf)
                required:
                - enabled
                type: object
              privateKeyPasswordRef:
                description: Password to decrypt private key
                properties:
                  key:
                    description: The key of the secret to select from. Must be a valid
                      secret key.
                    pattern: ^[-._a-zA-Z0-9]+$
                    type: string
                  name:
                    description: |-
                      Name of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                required:
                - key
                - name
                type: object
                x-kubernetes-map-type: atomic
              privateKeyRef:
                description: The private key used for signing STHs etc.
                properties:
                  key:
                    description: The key of the secret to select from. Must be a valid
                      secret key.
                    pattern: ^[-._a-zA-Z0-9]+$
                    type: string
                  name:
                    description: |-
                      Name of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                required:
                - key
                - name
                type: object
                x-kubernetes-map-type: atomic
              publicKeyRef:
                description: |-
                  The public key matching the private key (if both are present). It is
                  used only by mirror logs for verifying the source log's signatures, but can
                  be specified for regular logs as well for the convenience of test tools.
                properties:
                  key:
                    description: The key of the secret to select from. Must be a valid
                      secret key.
                    pattern: ^[-._a-zA-Z0-9]+$
                    type: string
                  name:
                    description: |-
                      Name of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                required:
                - key
                - name
                type: object
                x-kubernetes-map-type: atomic
              rootCertificates:
                description: |-
                  List of secrets containing root certificates that are acceptable to the log.
                  The certs are served through get-roots endpoint. Optional in mirrors.
                items:
                  description: SecretKeySelector selects a key of a Secret.
                  properties:
                    key:
                      description: The key of the secret to select from. Must be a
                        valid secret key.
                      pattern: ^[-._a-zA-Z0-9]+$
                      type: string
                    name:
                      description: |-
                        Name of the referent.
                        More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      type: string
                  required:
                  - key
                  - name
                  type: object
                  x-kubernetes-map-type: atomic
                type: array
              serverConfigRef:
                description: |-
                  Secret holding Certificate Transparency server config in text proto format
                  If it is set then any setting of treeID, privateKeyRef, privateKeyPasswordRef,
                  publicKeyRef, rootCertificates and trillian will be overridden.
                properties:
                  name:
                    description: |-
                      Name of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                required:
                - name
                type: object
                x-kubernetes-map-type: atomic
              treeID:
                description: |-
                  The ID of a Trillian tree that stores the log data.
                  If it is unset, the operator will create new Merkle tree in the Trillian backend
                format: int64
                type: integer
              trillian:
                default:
                  port: 8091
                description: Trillian service configuration
                properties:
                  address:
                    description: Address to Trillian Log Server End point
                    type: string
                  port:
                    default: 8091
                    description: Port of Trillian Log Server End point
                    format: int32
                    maximum: 65535
                    minimum: 1
                    type: integer
                type: object
            type: object
            x-kubernetes-validations:
            - message: privateKeyRef cannot be empty
              rule: (!has(self.publicKeyRef) || has(self.privateKeyRef))
            - message: privateKeyRef cannot be empty
              rule: (!has(self.privateKeyPasswordRef) || has(self.privateKeyRef))
          status:
            description: CTlogStatus defines the observed state of CTlog component
            properties:
              conditions:
                items:
                  description: "Condition contains details for one aspect of the current
                    state of this API Resource.\n---\nThis struct is intended for
                    direct use as an array at the field path .status.conditions.  For
                    example,\n\n\n\ttype FooStatus struct{\n\t    // Represents the
                    observations of a foo's current state.\n\t    // Known .status.conditions.type
                    are: \"Available\", \"Progressing\", and \"Degraded\"\n\t    //
                    +patchMergeKey=type\n\t    // +patchStrategy=merge\n\t    // +listType=map\n\t
                    \   // +listMapKey=type\n\t    Conditions []metav1.Condition `json:\"conditions,omitempty\"
                    patchStrategy:\"merge\" patchMergeKey:\"type\" protobuf:\"bytes,1,rep,name=conditions\"`\n\n\n\t
                    \   // other fields\n\t}"
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: |-
                        type of condition in CamelCase or in foo.example.com/CamelCase.
                        ---
                        Many .condition.type values are consistent across resources like Available, but because arbitrary conditions can be
                        useful (see .node.status.conditions), the ability to deconflict is important.
                        The regex it matches is (dns1123SubdomainFmt/)?(qualifiedNameFmt)
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
              privateKeyPasswordRef:
                description: SecretKeySelector selects a key of a Secret.
                properties:
                  key:
                    description: The key of the secret to select from. Must be a valid
                      secret key.
                    pattern: ^[-._a-zA-Z0-9]+$
                    type: string
                  name:
                    description: |-
                      Name of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                required:
                - key
                - name
                type: object
                x-kubernetes-map-type: atomic
              privateKeyRef:
                description: SecretKeySelector selects a key of a Secret.
                properties:
                  key:
                    description: The key of the secret to select from. Must be a valid
                      secret key.
                    pattern: ^[-._a-zA-Z0-9]+$
                    type: string
                  name:
                    description: |-
                      Name of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                required:
                - key
                - name
                type: object
                x-kubernetes-map-type: atomic
              publicKeyRef:
                description: SecretKeySelector selects a key of a Secret.
                properties:
                  key:
                    description: The key of the secret to select from. Must be a valid
                      secret key.
                    pattern: ^[-._a-zA-Z0-9]+$
                    type: string
                  name:
                    description: |-
                      Name of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                required:
                - key
                - name
                type: object
                x-kubernetes-map-type: atomic
              rootCertificates:
                items:
                  description: SecretKeySelector selects a key of a Secret.
                  properties:
                    key:
                      description: The key of the secret to select from. Must be a
                        valid secret key.
                      pattern: ^[-._a-zA-Z0-9]+$
                      type: string
                    name:
                      description: |-
                        Name of the referent.
                        More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      type: string
                  required:
                  - key
                  - name
                  type: object
                  x-kubernetes-map-type: atomic
                type: array
              serverConfigRef:
                description: |-
                  LocalObjectReference contains enough information to let you locate the
                  referenced object inside the same namespace.
                properties:
                  name:
                    description: |-
                      Name of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                required:
                - name
                type: object
                x-kubernetes-map-type: atomic
              treeID:
                description: The ID of a Trillian tree that stores the log data.
                format: int64
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
