apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  creationTimestamp: null
  name: tufs.rhtas.redhat.com
spec:
  group: rhtas.redhat.com
  names:
    kind: Tuf
    listKind: TufList
    plural: tufs
    singular: tuf
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: The component status
      jsonPath: .status.conditions[?(@.type=="Ready")].reason
      name: Status
      type: string
    - description: The component url
      jsonPath: .status.url
      name: URL
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Tuf is the Schema for the tufs API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: TufSpec defines the desired state of Tuf
            properties:
              externalAccess:
                description: Define whether you want to export service or not
                properties:
                  enabled:
                    default: false
                    description: |-
                      If set to true, the Operator will create an Ingress or a Route resource.
                      For the plain Ingress there is no TLS configuration provided Route object uses "edge" termination by default.
                    type: boolean
                    x-kubernetes-validations:
                    - message: Feature cannot be disabled
                      rule: (self || !oldSelf)
                  host:
                    description: Set hostname for your Ingress/Route.
                    type: string
                  routeSelectorLabels:
                    additionalProperties:
                      type: string
                    description: Set Route Selector Labels for ingress sharding.
                    type: object
                required:
                - enabled
                type: object
              keys:
                default:
                - name: rekor.pub
                - name: ctfe.pub
                - name: fulcio_v1.crt.pem
                - name: tsa.certchain.pem
                description: List of TUF targets which will be added to TUF root
                items:
                  properties:
                    name:
                      description: File name which will be used as TUF target.
                      enum:
                      - rekor.pub
                      - ctfe.pub
                      - fulcio_v1.crt.pem
                      - tsa.certchain.pem
                      type: string
                    secretRef:
                      description: |-
                        Reference to secret object
                        If it is unset, the operator will try to autoconfigure secret reference, by searching secrets in namespace which
                        contain `rhtas.redhat.com/$name` label.
                      properties:
                        key:
                          description: The key of the secret to select from. Must
                            be a valid secret key.
                          pattern: ^[-._a-zA-Z0-9]+$
                          type: string
                        name:
                          description: |-
                            Name of the referent.
                            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                          type: string
                      required:
                      - key
                      - name
                      type: object
                      x-kubernetes-map-type: atomic
                  required:
                  - name
                  type: object
                minItems: 1
                type: array
              port:
                default: 80
                format: int32
                maximum: 65535
                minimum: 1
                type: integer
              pvc:
                default:
                  accessModes:
                  - ReadWriteOnce
                  retain: true
                  size: 100Mi
                description: |-
                  Pvc configuration of the persistent storage claim for deployment in the cluster.
                  You can use ReadWriteOnce accessMode if you don't have suitable storage provider but your deployment will not support HA mode
                properties:
                  accessModes:
                    default:
                    - ReadWriteOnce
                    description: PVC AccessModes
                    items:
                      enum:
                      - ReadWriteOnce
                      - ReadOnlyMany
                      - ReadWriteMany
                      - ReadWriteOncePod
                      type: string
                    minItems: 1
                    type: array
                  name:
                    description: Name of the PVC
                    maxLength: 253
                    minLength: 1
                    pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                    type: string
                  retain:
                    default: true
                    description: Retain policy for the PVC
                    type: boolean
                    x-kubernetes-validations:
                    - message: Field is immutable
                      rule: (self == oldSelf)
                  size:
                    anyOf:
                    - type: integer
                    - type: string
                    default: 100Mi
                    description: |-
                      The requested size of the persistent volume attached to Pod.
                      The format of this field matches that defined by kubernetes/apimachinery.
                      See https://pkg.go.dev/k8s.io/apimachinery/pkg/api/resource#Quantity for more info on the format of this field.
                    pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                    x-kubernetes-int-or-string: true
                  storageClass:
                    description: The name of the StorageClass to claim a PersistentVolume
                      from.
                    type: string
                required:
                - retain
                type: object
              rootKeySecretRef:
                default:
                  name: tuf-root-keys
                description: Secret object reference that will hold you repository
                  root keys. This parameter will be used only with operator-managed
                  repository.
                properties:
                  name:
                    description: |-
                      Name of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                required:
                - name
                type: object
                x-kubernetes-map-type: atomic
            type: object
          status:
            description: TufStatus defines the observed state of Tuf
            properties:
              conditions:
                items:
                  description: "Condition contains details for one aspect of the current
                    state of this API Resource.\n---\nThis struct is intended for
                    direct use as an array at the field path .status.conditions.  For
                    example,\n\n\n\ttype FooStatus struct{\n\t    // Represents the
                    observations of a foo's current state.\n\t    // Known .status.conditions.type
                    are: \"Available\", \"Progressing\", and \"Degraded\"\n\t    //
                    +patchMergeKey=type\n\t    // +patchStrategy=merge\n\t    // +listType=map\n\t
                    \   // +listMapKey=type\n\t    Conditions []metav1.Condition `json:\"conditions,omitempty\"
                    patchStrategy:\"merge\" patchMergeKey:\"type\" protobuf:\"bytes,1,rep,name=conditions\"`\n\n\n\t
                    \   // other fields\n\t}"
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: |-
                        type of condition in CamelCase or in foo.example.com/CamelCase.
                        ---
                        Many .condition.type values are consistent across resources like Available, but because arbitrary conditions can be
                        useful (see .node.status.conditions), the ability to deconflict is important.
                        The regex it matches is (dns1123SubdomainFmt/)?(qualifiedNameFmt)
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
              keys:
                items:
                  properties:
                    name:
                      description: File name which will be used as TUF target.
                      enum:
                      - rekor.pub
                      - ctfe.pub
                      - fulcio_v1.crt.pem
                      - tsa.certchain.pem
                      type: string
                    secretRef:
                      description: |-
                        Reference to secret object
                        If it is unset, the operator will try to autoconfigure secret reference, by searching secrets in namespace which
                        contain `rhtas.redhat.com/$name` label.
                      properties:
                        key:
                          description: The key of the secret to select from. Must
                            be a valid secret key.
                          pattern: ^[-._a-zA-Z0-9]+$
                          type: string
                        name:
                          description: |-
                            Name of the referent.
                            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                          type: string
                      required:
                      - key
                      - name
                      type: object
                      x-kubernetes-map-type: atomic
                  required:
                  - name
                  type: object
                type: array
              pvcName:
                type: string
              url:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
