apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: securesigns.rhtas.redhat.com
spec:
  group: rhtas.redhat.com
  names:
    kind: Securesign
    listKind: SecuresignList
    plural: securesigns
    singular: securesign
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Securesign is the Schema for the securesigns API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: SecuresignSpec defines the desired state of Securesign
            properties:
              ctlog:
                description: CTlogSpec defines the desired state of CTlog component
                type: object
              fulcio:
                description: FulcioSpec defines the desired state of Fulcio
                properties:
                  external:
                    description: Define whether you want to export service or not
                    type: boolean
                  fulcioCert:
                    description: Certificate configuration if you want to generate
                      one
                    properties:
                      certPassword:
                        type: string
                      create:
                        type: boolean
                      organizationEmail:
                        type: string
                      organizationName:
                        type: string
                    required:
                    - create
                    type: object
                  keySecret:
                    description: Enter secret name with your keys and certificate
                    type: string
                  oidcIssuers:
                    additionalProperties:
                      properties:
                        ClientID:
                          type: string
                        IssuerURL:
                          type: string
                        Type:
                          type: string
                      required:
                      - ClientID
                      - IssuerURL
                      - Type
                      type: object
                    description: OIDC issuer configuration
                    type: object
                required:
                - oidcIssuers
                type: object
              rekor:
                description: RekorSpec defines the desired state of Rekor
                properties:
                  external:
                    description: Define whether you want to export service or not
                    type: boolean
                  keySecret:
                    description: Enter secret name with your keys and certificate
                    type: string
                  pvcName:
                    description: Persistent volume claim name to bound with Rekor
                      component
                    type: string
                  rekorCert:
                    description: Certificate configuration if you want to generate
                      one
                    properties:
                      create:
                        type: boolean
                    required:
                    - create
                    type: object
                type: object
              trillian:
                description: TrillianSpec defines the desired state of Trillian
                properties:
                  database:
                    description: Define your database connection
                    properties:
                      pvcName:
                        description: Persistent volume claim name to bound with Trillian
                          DB
                        type: string
                    type: object
                type: object
              tuf:
                description: TufSpec defines the desired state of Tuf
                properties:
                  external:
                    description: Define whether you want to export service or not
                    type: boolean
                type: object
            type: object
          status:
            description: SecuresignStatus defines the observed state of Securesign
            properties:
              ctlog:
                type: string
              fulcio:
                type: string
              rekor:
                type: string
              trillian:
                description: 'INSERT ADDITIONAL STATUS FIELD - define observed state
                  of cluster Important: Run "make" to regenerate code after modifying
                  this file'
                type: string
              tuf:
                type: string
            required:
            - ctlog
            - fulcio
            - rekor
            - trillian
            - tuf
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
