apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/component: metrics
    app.kubernetes.io/created-by: rhtas-operator
    app.kubernetes.io/instance: controller-manager-metrics-monitor
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: servicemonitor
    app.kubernetes.io/part-of: rhtas-operator
    control-plane: operator-controller-manager
  name: rhtas-operator-controller-manager-metrics-monitor
spec:
  endpoints:
  - path: /metrics
    port: metrics
  selector:
    matchLabels:
      control-plane: operator-controller-manager
