apiVersion: rhtas.redhat.com/v1alpha1
kind: Tuf
metadata:
  labels:
    app.kubernetes.io/name: securesign
    app.kubernetes.io/instance: securesign-sample
    app.kubernetes.io/part-of: trusted-artifact-signer
  name: tuf-sample
spec: