apiVersion: rhtas.redhat.com/v1alpha1
kind: Securesign
metadata:
  labels:
    app.kubernetes.io/name: securesign-sample
    app.kubernetes.io/instance: securesign-sample
    app.kubernetes.io/part-of: trusted-artifact-signer
  annotations:
    rhtas.redhat.com/metrics: "true"
  name: securesign-sample
spec:
  rekor:
    externalAccess:
      enabled: true
    monitoring:
      enabled: true
  trillian:
    database:
      create: true
  fulcio:
    externalAccess:
      enabled: true
    config:
      OIDCIssuers:
        - ClientID: "trusted-artifact-signer"
          IssuerURL: "https://your-oidc-issuer-url"
          Issuer: "https://your-oidc-issuer-url"
          Type: "email"
    certificate:
      organizationName: Red Hat
      organizationEmail: jdoe@redhat.com
      commonName: fulcio.hostname
    monitoring:
      enabled: true
  tuf:
    externalAccess:
      enabled: true
    keys:
      - name: rekor.pub
      - name: ctfe.pub
      - name: fulcio_v1.crt.pem
      - name: tsa_cert_chain.pem
  ctlog:
  tsa:
    signer:
      certificateChain:
        rootCA:
          organizationName: Red Hat
          organizationEmail: jdoe@redhat.com
          commonName: tsa.hostname
        intermediateCA:
          organizationName: Red Hat
          organizationEmail: jdoe@redhat.com
          commonName: tsa.hostname
    externalAccess:
      enabled: true
