apiVersion: rhtas.redhat.com/v1alpha1
kind: Securesign
metadata:
  labels:
    app.kubernetes.io/name: securesign-sample
    app.kubernetes.io/instance: securesign-sample
    app.kubernetes.io/part-of: trusted-artifact-signer
  name: securesign-sample
spec:
  rekor:
    externalAccess:
      enabled: true
    monitoring:
      enabled: true
  trillian:
    auth:
      env:
      - name: MYSQL_PASSWORD
        valueFrom:
          secretKeyRef:
            name: trillian-db-connection
            key: pass
    trustedCA:
      name: db-trusted-ca
    database:
      create: false
      provider: mysql
      url: trillian:$(MYSQL_PASSWORD)@tcp(database-1.c3aymq248jlv.eu-north-1.rds.amazonaws.com:3306)/trillian
    monitoring:
      enabled: true
  fulcio:
    externalAccess:
      enabled: true
    config:
      OIDCIssuers:
        - ClientID: "trusted-artifact-signer"
          IssuerURL: "https://keycloak-keycloak-system.apps.rosa.gjcsj-qjc8s-gcn.2787.p3.openshiftapps.com/auth/realms/trusted-artifact-signer"
          Issuer: "https://keycloak-keycloak-system.apps.rosa.gjcsj-qjc8s-gcn.2787.p3.openshiftapps.com/auth/realms/trusted-artifact-signer"
          Type: "email"
    certificate:
      organizationName: Red Hat
      organizationEmail: jdoe@redhat.com
      commonName: fulcio.hostname
    monitoring:
      enabled: true
  tuf:
    externalAccess:
      enabled: true
    keys:
      - name: rekor.pub
      - name: ctfe.pub
      - name: fulcio_v1.crt.pem
      - name: tsa.certchain.pem
    rootKeySecretRef:
      name: tuf-root-keys
    pvc:
      accessModes:
        - ReadWriteOnce
      retain: true
      size: 100Mi
  ctlog:
    monitoring:
      enabled: true
  tsa:
    externalAccess:
      enabled: true
    monitoring:
      enabled: true
    ntpMonitoring:
      enabled: true
    signer:
      certificateChain:
        rootCA:
          organizationName: Red Hat
          organizationEmail: jdoe@redhat.com
          commonName: tsa.hostname-root
        intermediateCA:
          - organizationName: Red Hat
            organizationEmail: jdoe@redhat.com
            commonName: tsa.hostname-intermediate
        leafCA:
          organizationName: Red Hat
          organizationEmail: jdoe@redhat.com
          commonName: tsa.hostname-leaf
