apiVersion: rhtas.redhat.com/v1alpha1
kind: Fulcio
metadata:
  labels:
    app.kubernetes.io/name: securesign-sample
    app.kubernetes.io/instance: securesign-sample
    app.kubernetes.io/part-of: trusted-artifact-signer
  name: fulcio-sample
spec:
  externalAccess:
    enabled: true
  config:
    proxy:
      enabled: false
    OIDCIssuers:
      - ClientID: "trusted-artifact-signer"
        IssuerURL: "https://your-oidc-issuer-url"
        Issuer: "https://your-oidc-issuer-url"
        Type: "email"
  certificate:
    organizationName: Red Hat
    organizationEmail: jdoe@redhat.com
    commonName: fulcio.hostname
