# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/rhtas.redhat.com_securesigns.yaml
- bases/rhtas.redhat.com_fulcios.yaml
- bases/rhtas.redhat.com_trillians.yaml
- bases/rhtas.redhat.com_rekors.yaml
- bases/rhtas.redhat.com_tufs.yaml
- bases/rhtas.redhat.com_ctlogs.yaml
- bases/rhtas.redhat.com_timestampauthorities.yaml
- bases/rhtas.redhat.com_tasoperatorconfigs.yaml
#+kubebuilder:scaffold:crdkustomizeresource

patches: []
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
#- path: patches/webhook_in_securesigns.yaml
#- path: patches/webhook_in_fulcios.yaml
#- path: patches/webhook_in_trillians.yaml
#- path: patches/webhook_in_rekors.yaml
#- path: patches/webhook_in_tufs.yaml
#- path: patches/webhook_in_ctlogs.yaml
#- path: patches/webhook_in_timestampauthorities.yaml
#+kubebuilder:scaffold:crdkustomizewebhookpatch

# [CERTMANAGER] To enable cert-manager, uncomment all the sections with [CERTMANAGER] prefix.
# patches here are for enabling the CA injection for each CRD
#- path: patches/cainjection_in_securesigns.yaml
#- path: patches/cainjection_in_fulcios.yaml
#- path: patches/cainjection_in_trillians.yaml
#- path: patches/cainjection_in_rekors.yaml
#- path: patches/cainjection_in_tufs.yaml
#- path: patches/cainjection_in_ctlogs.yaml
#- path: patches/cainjection_in_timestampauthorities.yaml
#+kubebuilder:scaffold:crdkustomizecainjectionpatch

# [WEBHOOK] To enable webhook, uncomment the following section
# the following config is for teaching kustomize how to do kustomization for CRDs.

#configurations:
#- kustomizeconfig.yaml
