---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: securesigns.rhtas.redhat.com
spec:
  group: rhtas.redhat.com
  names:
    kind: Securesign
    listKind: SecuresignList
    plural: securesigns
    singular: securesign
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Securesign is the Schema for the securesigns API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: SecuresignSpec defines the desired state of Securesign
            properties:
              ctlog:
                description: CTlogSpec defines the desired state of CTlog component
                type: object
              fulcio:
                description: FulcioSpec defines the desired state of Fulcio
                properties:
                  certificate:
                    description: Certificate configuration
                    properties:
                      create:
                        type: boolean
                      organizationEmail:
                        type: string
                      organizationName:
                        type: string
                      secretName:
                        description: 'Enter secret name for your keys and certificate
                          (will be generated in case of the `create=true`) Required
                          fields are: public,private,cert,password'
                        type: string
                    required:
                    - create
                    - secretName
                    type: object
                  config:
                    properties:
                      MetaIssuers:
                        additionalProperties:
                          properties:
                            ChallengeClaim:
                              description: Optional, the challenge claim expected
                                for the issuer Set if using a custom issuer
                              type: string
                            ClientID:
                              description: The expected client ID of the OIDC token
                              type: string
                            IssuerClaim:
                              description: Optional, if the issuer is in a different
                                claim in the OIDC token
                              type: string
                            IssuerURL:
                              description: The expected issuer of an OIDC token
                              type: string
                            SPIFFETrustDomain:
                              description: SPIFFETrustDomain specifies the trust domain
                                that 'spiffe' issuer types issue ID tokens for. Tokens
                                with a different trust domain will be rejected.
                              type: string
                            SubjectDomain:
                              description: The domain that must be present in the
                                subject for 'uri' issuer types Also used to create
                                an email for 'username' issuer types
                              type: string
                            Type:
                              description: Used to determine the subject of the certificate
                                and if additional certificate values are needed
                              type: string
                          required:
                          - ClientID
                          - Type
                          type: object
                        description: 'A meta issuer has a templated URL of the form:
                          https://oidc.eks.*.amazonaws.com/id/* Where * can match
                          a single hostname or URI path parts (in particular, no ''.''
                          or ''/'' are permitted, among other special characters)  Some
                          examples we want to match: * https://oidc.eks.us-west-2.amazonaws.com/id/B02C93B6A2D30341AD01E1B6D48164CB
                          * https://container.googleapis.com/v1/projects/mattmoor-credit/locations/us-west1-b/clusters/tenant-cluster'
                        type: object
                      OIDCIssuers:
                        additionalProperties:
                          properties:
                            ChallengeClaim:
                              description: Optional, the challenge claim expected
                                for the issuer Set if using a custom issuer
                              type: string
                            ClientID:
                              description: The expected client ID of the OIDC token
                              type: string
                            IssuerClaim:
                              description: Optional, if the issuer is in a different
                                claim in the OIDC token
                              type: string
                            IssuerURL:
                              description: The expected issuer of an OIDC token
                              type: string
                            SPIFFETrustDomain:
                              description: SPIFFETrustDomain specifies the trust domain
                                that 'spiffe' issuer types issue ID tokens for. Tokens
                                with a different trust domain will be rejected.
                              type: string
                            SubjectDomain:
                              description: The domain that must be present in the
                                subject for 'uri' issuer types Also used to create
                                an email for 'username' issuer types
                              type: string
                            Type:
                              description: Used to determine the subject of the certificate
                                and if additional certificate values are needed
                              type: string
                          required:
                          - ClientID
                          - Type
                          type: object
                        type: object
                    type: object
                  externalAccess:
                    description: Define whether you want to export service or not
                    properties:
                      enabled:
                        description: If set to true, the Operator will create an Ingress
                          or a Route resource. For the plain Ingress there is no TLS
                          configuration provided Route object uses "edge" termination
                          by default.
                        type: boolean
                      host:
                        description: Set hostname for your Ingress/Route.
                        type: string
                    type: object
                  monitoring:
                    description: Enable Service monitors for fulcio
                    type: boolean
                required:
                - config
                type: object
              rekor:
                description: RekorSpec defines the desired state of Rekor
                properties:
                  certificate:
                    description: Certificate configuration
                    properties:
                      create:
                        description: Generate certificate
                        type: boolean
                      secretName:
                        description: 'Enter secret name for your keys and certificate
                          (will be generated in case of `create=true`) Required fields:
                          private'
                        type: string
                    required:
                    - create
                    - secretName
                    type: object
                  externalAccess:
                    description: Define whether you want to export service or not
                    properties:
                      enabled:
                        description: If set to true, the Operator will create an Ingress
                          or a Route resource. For the plain Ingress there is no TLS
                          configuration provided Route object uses "edge" termination
                          by default.
                        type: boolean
                      host:
                        description: Set hostname for your Ingress/Route.
                        type: string
                    type: object
                  monitoring:
                    description: Enable Service monitors for rekor
                    type: boolean
                  pvcName:
                    description: Persistent volume claim name to bound with Rekor
                      component
                    type: string
                type: object
              trillian:
                description: TrillianSpec defines the desired state of Trillian
                properties:
                  database:
                    description: Define your database connection
                    properties:
                      create:
                        description: 'Create Database if a database is not created
                          one must be defined using the DatabaseSecret field default:
                          true'
                        type: boolean
                      databaseSecret:
                        description: Secret with values to be used to connect to an
                          existing DB or to be used with the creation of a new DB
                        type: string
                      pvcName:
                        description: Persistent volume claim name to bound with Trillian
                          DB
                        type: string
                    type: object
                type: object
              tuf:
                description: TufSpec defines the desired state of Tuf
                properties:
                  externalAccess:
                    description: Define whether you want to export service or not
                    properties:
                      enabled:
                        description: If set to true, the Operator will create an Ingress
                          or a Route resource. For the plain Ingress there is no TLS
                          configuration provided Route object uses "edge" termination
                          by default.
                        type: boolean
                      host:
                        description: Set hostname for your Ingress/Route.
                        type: string
                    type: object
                type: object
            type: object
          status:
            description: SecuresignStatus defines the observed state of Securesign
            properties:
              ctlog:
                type: string
              fulcio:
                type: string
              rekor:
                type: string
              trillian:
                description: 'INSERT ADDITIONAL STATUS FIELD - define observed state
                  of cluster Important: Run "make" to regenerate code after modifying
                  this file'
                type: string
              tuf:
                type: string
            required:
            - ctlog
            - fulcio
            - rekor
            - trillian
            - tuf
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
