---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: trillians.rhtas.redhat.com
spec:
  group: rhtas.redhat.com
  names:
    kind: Trillian
    listKind: TrillianList
    plural: trillians
    singular: trillian
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: The component phase
      jsonPath: .status.phase
      name: Phase
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Trillian is the Schema for the trillians API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: TrillianSpec defines the desired state of Trillian
            properties:
              dbImage:
                type: string
              logSignerImage:
                description: Foo is an example field of Trillian. Edit trillian_types.go
                  to remove/update
                type: string
              pvcName:
                type: string
              serverImage:
                type: string
            type: object
          status:
            description: TrillianStatus defines the observed state of Trillian
            properties:
              phase:
                type: string
            required:
            - phase
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
