---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: fulcios.rhtas.redhat.com
spec:
  group: rhtas.redhat.com
  names:
    kind: Fulcio
    listKind: FulcioList
    plural: fulcios
    singular: fulcio
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: The component phase
      jsonPath: .status.phase
      name: Phase
      type: string
    - description: The component url
      jsonPath: .status.url
      name: URL
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Fulcio is the Schema for the fulcios API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: FulcioSpec defines the desired state of Fulcio
            properties:
              certificate:
                description: Certificate configuration
                properties:
                  create:
                    type: boolean
                  organizationEmail:
                    type: string
                  organizationName:
                    type: string
                  secretName:
                    description: 'Enter secret name for your keys and certificate
                      (will be generated in case of the `create=true`) Required fields
                      are: public,private,cert,password'
                    type: string
                required:
                - create
                - secretName
                type: object
              externalAccess:
                description: Define whether you want to export service or not
                properties:
                  enabled:
                    description: If set to true, the Operator will create an Ingress
                      or a Route resource. For the plain Ingress there is no TLS configuration
                      provided Route object uses "edge" termination by default.
                    type: boolean
                  host:
                    description: Set hostname for your Ingress/Route.
                    type: string
                type: object
              monitoring:
                description: Enable Service monitors for fulcio
                type: boolean
              oidcIssuers:
                additionalProperties:
                  properties:
                    ClientID:
                      type: string
                    IssuerURL:
                      type: string
                    Type:
                      type: string
                  required:
                  - ClientID
                  - IssuerURL
                  - Type
                  type: object
                description: OIDC issuer configuration
                type: object
            required:
            - oidcIssuers
            type: object
          status:
            description: FulcioStatus defines the observed state of Fulcio
            properties:
              phase:
                type: string
              url:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
