---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: tufs.rhtas.redhat.com
spec:
  group: rhtas.redhat.com
  names:
    kind: Tuf
    listKind: TufList
    plural: tufs
    singular: tuf
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: The component phase
      jsonPath: .status.phase
      name: Phase
      type: string
    - description: The component url
      jsonPath: .status.url
      name: URL
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Tuf is the Schema for the tufs API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: TufSpec defines the desired state of Tuf
            properties:
              external:
                type: boolean
              image:
                type: string
            type: object
          status:
            description: TufStatus defines the observed state of Tuf
            properties:
              phase:
                type: string
              url:
                type: string
            required:
            - phase
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
