---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: rekors.rhtas.redhat.com
spec:
  group: rhtas.redhat.com
  names:
    kind: Rekor
    listKind: RekorList
    plural: rekors
    singular: rekor
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: The component phase
      jsonPath: .status.phase
      name: Phase
      type: string
    - description: The component url
      jsonPath: .status.url
      name: URL
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Rekor is the Schema for the rekors API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: RekorSpec defines the desired state of Rekor
            properties:
              certificate:
                description: Certificate configuration
                properties:
                  create:
                    description: Generate certificate
                    type: boolean
                  secretName:
                    description: 'Enter secret name for your keys and certificate
                      (will be generated in case of `create=true`) Required fields:
                      private'
                    type: string
                required:
                - create
                - secretName
                type: object
              externalAccess:
                description: Define whether you want to export service or not
                properties:
                  enabled:
                    description: If set to true, the Operator will create an Ingress
                      or a Route resource. For the plain Ingress there is no TLS configuration
                      provided Route object uses "edge" termination by default.
                    type: boolean
                  host:
                    description: Set hostname for your Ingress/Route.
                    type: string
                type: object
              monitoring:
                description: Enable Service monitors for rekor
                type: boolean
              pvcName:
                description: Persistent volume claim name to bound with Rekor component
                type: string
              treeID:
                format: int64
                type: integer
            type: object
          status:
            description: RekorStatus defines the observed state of Rekor
            properties:
              phase:
                type: string
              treeID:
                format: int64
                type: integer
              url:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
